/* The colors of the chart are blue #0065FC and its lighter version #DEEBFF
, as well as grey for the background #F2F2. */


.main-con{
    box-sizing: border-box;
    background-color:#DEEBFF;
    max-width: 1500px;
    margin: auto;
}

.figure {
    border: black 1px;
    background-color: red;
}

.nav-con{
    background-color: rgb(199, 224, 199);
}

.nav-con a{
    float: right;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
}

.reservia-logo{
    margin: 10px;
    width: 192.5;
    width: 90px;


}

.header-con{
    background-color: rgb(197, 194, 184);
}
.filter-con{
    background-color: rgba(201, 148, 231, 0.295);
}
.accommodations-popular-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    border: solid 1px black;
}
.accomodations-con{
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-column: 1/3;
    background-color: chocolate;
}
.accomodations-card{
    background-color: rgb(151, 145, 107);
    border: solid 1px black;

}
.popular-con{
    background-color: darkgoldenrod;
}
.popular-card{
    background-color: darkgray;
}
.activites-con{
    background-color: darkolivegreen;
}
.footer-con{
    background-color: rgb(63, 55, 55);
}
.footer-box{
    background-color: rgb(77, 83, 83);
}