/* The colors of the chart are blue #0065FC and its lighter version #DEEBFF
, as well as grey for the background #F2F2. */


.main-con{
    box-sizing: border-box;
    background-color:#ffffff;
    margin: auto;
    margin: 28px 28px 0px 28px;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* Nav */
.nav-con{
    margin: 0px 0px 0px;
}

.nav-con a{
    float: right;
    padding: 15px 20px;
    text-decoration: none;
}

.nav-accom , .nav-act{
    color: black;
}

.sign-up{
    color:  #0065FC;
    font-weight: bold;
    
}
.reservia-logo{
    margin: 15px 0px;
    width: 192.5px;
    width: 90px;
}

.title-style {
    text-decoration: none;
    color: black;
}

/* Search bar */
.search-box-con{
    border: solid #F2F2F2 1px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 24px;
}

.search-box-marker{
    padding: 9px 15px 9px 15px;
    background-color:#F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.input-search{
    border: none;
    margin-left: 10px;
}

.search-box-bwt{
    color: white;
    background-color:#0065FC;
    display: inline;
    border-style: none;
    padding: 9px 13px 9px 13px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    margin-left: 10px;
}
/* Filters */
.filter-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0px;
}

.filter-box{
    border: solid 2px #F2F2F2;
    border-radius: 20px;
    padding: 9px 10px 9px 10px;
    margin-left: 20px;
}


.filter-box span {
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    margin-left: -10px;
}
/* accommodations */
.accommodations-popular-con{
 
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-column-gap: 30px;
    margin-bottom: 30px;
}
.accomodations-con{
    
    border-radius: 30px;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    grid-gap: 20px;
}

.accomodations-title{
    grid-column: 1/-1;
}

.accomodations-card{
    background-color: #ffffff;
    border-radius: 19px;    
}

.accomodations-figure{
    margin: 6px;
}

.accom-img{
    width:100%;
    height: 150px;
    object-fit: cover;
    border-radius:  15px 15px 0 0; 
}
/* Popular */
.popular-con{
    background-color: #F2F2F2;
    display: grid;
    border-radius: 30px;
    padding: 0px 20px;

}

.popular-card{
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    height: 140px;
    border: white solid 6px;
    display: flex;
    margin-bottom: -22px;
}

.popular-title{
    margin-bottom: -80px;
    padding: 20px;
}

.pop-img{
    width: 45%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}

.pop-discription {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.pop-discription .accom-stars{
    margin: 10px 0px;
}

/* activites */

.activites-con{
    margin: 30px 0px 30px 0px;
}

.act-cards{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 4%;
    grid-row-gap: 25px;
    grid-template-areas: 
    "a1 a2 a4 a5"
    "a1 a3 a4 a6" 
    ;
    
}

.a1{grid-area: a1;}
.a2{grid-area: a2;}
.a3{grid-area: a3;}
.a4{grid-area: a4;}
.a5{grid-area: a5;}
.a6{grid-area: a6;}


.act-long-img{
    height: 89%;
    width: 100%;
    border-top-left-radius:13px;
    border-top-right-radius:13px;
    object-fit: cover;
}

.act-short-img{
   width: 100%;
   height: 80%;
   border-top-left-radius:13px;
   border-top-right-radius:13px;
   object-fit: cover;
}

.act-title-margin{ 
    margin-left: 13px;
}

.activites-card-long{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height: 60vh;
}

.activites-card-short{
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    height:29vh;
}

/* footer */

.footer-con{
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
}

.footer-box{
    margin-top: -20px;
    margin-left: 20px;
}

.footer-box a{
   font-size: 16px;
   margin-bottom: 10px;
   color: black;
}

.footer-box a{
    color: black;
    text-decoration: none;
    display: block;
}

/* Styling  */

.sub-text{
    margin: 0px 0px -10px 0px;
  }
  
.fa-money-bill-wave {
    color:  #0065FC;
}

#gs1, #gs2, #gs3, #gs4, #gs5, #gs6, #gs7{
    color: gray;
}

.fas {
    color: #0065FC;
}

.fa-chart-line {
    float: right;
}

.accom-stars{
   margin: 15px 8px;
}

.fa-search{
    color: white;
}
.fa-map-marker-alt,  .fa-chart-line{
    color: black;
}
.shadow{
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.3), 0 3px 7px 0 rgba(0, 0, 0, 0.12);
}

img:hover {
    border: solid 3px orange;
    box-sizing: border-box;
}

a:hover{
    background-color: orange;
}


/* Media sizing */

@media only screen and (min-width: 768px) and (max-width: 1211px) {

    .accommodations-popular-con{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr;
    }
    .accomodations-con{
        order: 2;
    }
       
    .popular-con{
        order: 1;
        margin: 30px 0px;
    }

    .accom-stars{
        margin: 15px 5px;
     }
    
}

@media only screen and (max-width: 767px) {
  
    .main-con{
        margin: 0px;
        padding:8px;
    }

    .nav-accom , .nav-act{
        display: inline-block;
        color:#0065FC;
        margin: 40px 30px;

    }

    .filter-title{
        display: block;
        width: 100%;
    }

    .filter-box{
        margin: 10px;
    }

    .nav-act{ 
        border-bottom:solid 3px #F2F2F2;
        
    }

    .nav-accom{
        border-bottom:solid 4px #0065FC;
        margin-left: -30px;
    }
    
    .nav-con a{
        float:none;
        padding: 0;
    }

    .sign-up{
        position: absolute;
        margin:25px 0px 0px 188px;
    }
    
    .accommodations-popular-con{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: .3fr .5fr ; 
    }

    .accomodations-con{
        order: 2;
        display: flex;
        padding: 10px;
        flex-direction: column;
        background-color: white;
        margin-top: 0px;
    }

    .accom-img{
        width:100%;
        height: 125px;
    }
       
    .popular-con{
        order: 1;
        display: grid;
        grid-template-rows: 90px 166px 166px 166px;
        border-radius: 0px;
        height: 600px;
    }

    .act-cards{
        display: flex;
        flex-direction: column;
        margin: 20px 10px;
    }

    .act-t{
        margin-left: 13px;
    }
    .act-long-img{
        height: 200px;
    }
    
    .act-title-margin{ 
        margin-left: 13px;
    }
    .act-short-img{
      height:10%;
    }

    .activites-card-long{
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        height:220px;
    }
    
    .activites-card-short{
        border-radius: 15px;
        background-color: rgb(255, 255, 255);
        height:220px
        
    }

    .act-long-img{
        width: 100%;
        height: 70%;

    }
    
    .act-short-img{
       width: 100%;
       height: 70%;
    }
    
    .footer-con{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }
    
    .footer-box {
        padding: 15px 0px;
    }

}