/* The colors of the chart are blue #0065FC and its lighter version #DEEBFF
, as well as grey for the background #F2F2. */


.main-con{
    box-sizing: border-box;
    background-color:#ffffff;
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

.figure {
    border: black 1px;
    background-color: red;
}

.nav-con{
    margin: 0px 0px 0px;
}

.nav-con a{
    float: right;
    padding: 15px 20px;
    text-decoration: none;
    color: black;
}

.reservia-logo{
    margin: 15px 0px;
    width: 192.5;
    width: 90px;


}

.title-style {
    text-decoration: none;
    color: black;
}


.sub-text{
  margin: 0px 0px -10px 0px;
}
.filter-con{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}

.filter-box{
border: solid 2px #F2F2F2;
border-radius: 20px;
padding: 9px 10px 9px 10px;
margin-left: 20px;
}



.filter-box span {
    background-color: #DEEBFF;
    padding: 10px;
    border-radius: 50%;
    margin-left: -10px;
}
.accommodations-popular-con{
 
    display: grid;
    grid-template-columns: 6fr 3fr;
    grid-column-gap: 20px;
    
}
.accomodations-con{
    
    border-radius: 30px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #F2F2F2;
    grid-gap: 20px;
}

.accomodations-title{
    grid-column: 1/-1;
}

.accomodations-card{
    background-color: #ffffff;
    border-radius: 19px;    
}

.accomodations-figure
{
    margin: 7px;
}

.accom-img{
    width:100%;
    height: 150px;
    object-fit: cover;
    border-radius:  15px 15px 0 0;
   
}

.popular-con{
    background-color: #F2F2F2;
    display: grid;
    grid-row: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    border-radius: 30px;
    padding: 30px;
}
.popular-card{
 background-color: rgb(255, 255, 255);
}

.pop-img{
    width:100%;
    height: 150px;
    object-fit: cover;
    border-radius:  15px 0px 0px 15px;
}

.activites-con{
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 30px;
}
.footer-con{
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.footer-box{
    margin-top: -20px;
    margin-left: 20px;
}

.footer-box a{
   font-size: 16px;
   margin-bottom: 10px;
   color: black;
    
}

.footer-box a{
    color: black;
    text-decoration: none;
    display: block;
}

.fa-money-bill-wave {
    color:  #0065FC;
}

.fas {
    color: 0065FC;
}
